<!doctype html>
<html>
<head>
    <title>angularized contenteditable div</title>

    <style>
        #editdiv {
            border: 1px solid #cccccc;
            padding: 3px;
            width: 300px;
        }

        [contenteditable=true]:empty:before {
            content: attr(placeholder);
            display: block;
            font-family: sans-serif;
            font-size: 12px;
            color: gray;
        }
    </style>
</head>
<body>

<body>
<form name="myForm">
    <div id="editdiv"
         placeholder="Type here..."
         contenteditable="true"
         name="myWidget" ng-model="userContent"
         strip-br="true">thar be red in here</div>
    <hr>
    <textarea ng-model="userContent" aria-label="Dynamic textarea"></textarea>
</form>
</body>
</html>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
<script src="contenteditable-util.js"></script>
<script>
    (function(angular) {
        'use strict';

        // This demo is derived from the angular api reference here:
        // https://docs.angularjs.org/api/ng/type/ngModel.NgModelController

        angular.module('contentEditableDemo', ['ngSanitize'])
                .directive('contenteditable', contentEditable);

        function contentEditable($sce) {
            return {
                restrict: 'A', // only activate on element attribute
                require: '?ngModel', // get a hold of NgModelController
                link: function (scope, element, attrs, ngModel) {
                    if (!ngModel) return; // do nothing if no ng-model

                    // Specify how UI should be updated
                    ngModel.$render = function() {
                        element.html($sce.getTrustedHtml(ngModel.$viewValue || ''));
                    };

                    // Listen for change events to enable binding
                    element.on('blur keyup change', function() {
                        scope.$evalAsync(read);
                    });
                    read(); // initialize

                    // Write data to the model
                    function read() {
                        var html = element.html();
                        // When we clear the content editable the browser leaves a <br> behind
                        // If strip-br attribute is provided then we strip this out
                        if ( attrs.stripBr && html == '<br>' ) {
                            html = '';
                        }
                        ngModel.$setViewValue(html);
                    }
                }
            };
        }

        contentEditable.$inject = ['$sce'];

    })(window.angular);

    angular.element(document).ready(function() {
        angular.bootstrap(document, ['contentEditableDemo'], { strictDi: true });
    });
</script>
</body>
</html>